<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styleAccueil.css">
  <title>Battleship</title>
</head>
<body>


  <div id="login" class="container text-center">
    <br><br>
    <div v-for="message in messages" id="message" style="display: inline;" class='alert alert-danger'>
      <span class="glyphicon glyphicon-info-sign"></span> &nbsp;{{message}}
    </div>

    <div class="centerVertical alert alert-info">
      <div class="form-group">
        <label for="username" id="lab1">Choisissez un nom d'utilisateur pour la partie</label>
        <input v-model="username" type="text" class="form-control" placeholder="Toto" autofocus>
      </div>
      <button v-on:click="login" id="lab2" type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </div>

  <!-- JS -->
  <script src="/node_modules/vue/dist/vue.js"></script>
  <script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>
