<!DOCTYPE html>
<html lang=""fr>
<head>
    <title>Battleship Game : recherche </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styleSearch.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="css/pictures/iconePageAccueil.png">
</head>


<body>

<h1 class="titreSection">Recherche d'une partie</h1>

<div class="container">
    <div class="vertical-center">
        <div class="col-md-4">
            <a href="createGame"><button type="button" class="btn btn-success btn-lg">Créer un salon</button></a>
        </div>
        <div class="col-md-4">
            <a href="join"><button v-on:click="login" type="button" class="btn btn-success btn-lg">Rejoindre un salon</button></a>
        </div>
    </div>
</div>


<hr class="trait">


<p class="paragraphe centrer">Tableau des scores</p>
<table id="leaderBoard">
    <tr class="premier">
        <td>1er</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>

    <tr class="autre">
        <td>2nd</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>

    <tr class="autre">
        <td>3ieme</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>

    <tr class="autre">
        <td>4ieme</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>

    <tr class="autre">
        <td>5ieme</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>

    <tr class="autre">
        <td>6ieme</td>
        <td>
            <div class="containerTable">
                <p>"pseudo"</p>
                <p> "minutes" minutes "secondes" </p>
            </div>
        </td>
        <td>"pieces restantes" navires</td>
    </tr>
</table>

<script src="/node_modules/vue/dist/vue.js"></script>
<script src="/node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
