<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Battleship Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styleAccueil.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/css/pictures/iconePageAccueil.png">
</head>


<body>
<div id="navbar">
    <a href="how2play.ejs">HOW TO PLAY</a>
    <a class="active" href="/">HOME</a>
    <a href="leaderBoard.html">LEADERBOARD</a>
</div>


<h1 class="titleGame ">BATTLESHIP</h1>

<h2 style="text-align: center">Mot de passe incorrect !</h2>

</body>
</html>
